<header>
    <h1>{{ site.name }}</h1>

    <p>{{ site.tagline }}</p>

    <p class="view"><a href="https://github.com/{{ site.github_user }}/scalastic">View the Project on GitHub
        <small>{{ site.github_user }}/scalastic</small>
    </a></p>


    <ul>
        <li><a href="https://github.com/{{ site.github_user }}/scalastic/zipball/master">Download <strong>ZIP File</strong></a>
        </li>
        <li><a href="https://github.com/{{ site.github_user }}/scalastic/tarball/master">Download <strong>TAR Ball</strong></a>
        </li>
        <li><a href="https://github.com/{{ site.github_user }}/scalastic">View On <strong>GitHub</strong></a></li>
    </ul>
</header>